@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-oldstandard: var(--font-old-standard);
  --font-geistsans: var(--font-geist-sans);
  --font-geistmono: var(--font-geist-mono);
  --font-baloo: var(--font-baloo2);
}